*{
    box-sizing: border-box
}

h1 {
    font-size: 50px;
}

nav a {
    text-decoration: none;
    border: 2px solid white;
    padding: 5px;
}

nav a:hover, nav .active {
    border: 2px solid black;
}

