@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
:root {
  --dark-primary: #05386B;
  --light-primary: #EDF5E1;
  --accent: #379683;
  
  --ff-title: 'Anton', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  height: 100%;
}

header {
  background-color: var(--dark-primary);
  color: var(--light-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
  position: fixed;
  top: 0;
}

header .company-title, h1 {
  font-family: var(--ff-title);
  text-shadow: 1px 1px 1px black;
}
 
header nav ul {
  display: flex;
}

header nav ul li {
  list-style-type: none;
  padding: 10px 10px;
  border: 1px solid var(--dark-primary);
  text-align: center;
 
}

header nav ul li:hover {
  border: 1px solid var(--light-primary);;
}

header nav a {
  color: var(--light-primary);
  text-decoration: none;
}

header a button {
  padding: 10px; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  color: var(--light-primary);
  background-color: var(--accent);
  text-shadow: 1px 1px 1px black;
}

header a button:hover {
  color: var(--dark-primary);
  background-color: #8ee4af;
}

.menu {
  position: fixed;
  right: 5px;
  top: 0px;
  padding: 5px;
  display: none;
}

.fa-bars {
  font-size: 1.7em;
  color: var(--light-primary);
}

.menu:hover {
  background-color: var(--accent);
}


/* ===============================================
HERO SECTION 
================================================== */

.hero {
  background: fixed url(../images/remodel.jpg) right / cover, #000;
  height: 50vh;
  width: 100%;
  margin-top: 20px;
}


.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  padding: 50px;
  color: var(--light-primary);
}

.hero h1 {
  font-size: 40px;
  font-family: var(--ff-title);
}

.hero button {
  padding: 10px; 
  border: 1px solid var(--dark-primary);
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
  color: var(--light-primary);
  background-color: var(--accent);
  text-shadow: 1px 1px 1px black;
}

.hero button:hover {
  color: var(--dark-primary);
  background-color: #8ee4af;
}

/* ===============================================
Features
================================================== */

.features {
  width: 85%;
  margin: 0px auto;
}

.features-container {
  display: flex;
  justify-content: center;
  align-items:stretch;
  margin-top: 50px;
  
}

.feature {
  padding: 50px;
  border-right: 1px solid black;
  text-align: center;
  width: 33%;
}

.feature h2 {
  margin: 10px 0px;
}

.feature:last-child {
  border-right: none;
}

.fa-question, .fa-wrench, .fa-smile {
  font-size: 48px;
}

/* ===============================================
Testimonial
================================================== */

.testimonial {
  width: 100%;
  background-color: var(--dark-primary);;
  margin: 50px auto;
 
}

.testimonial-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin: 50px;
}

.testimonial-container img {
  width: 150px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 10px 0px;
}

.testimonial-container p {
  font-size: larger;
}

.testimonial-container .quote-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  color: var(--light-primary);
}

/* ===============================================
Team Members
================================================== */

.team {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  max-width: 1000px;

}

.team-member {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 50px;
}

.team-member h2 {
  margin: 10px 0px;
  font-family: 'Anton';
}

.team-member img {
  margin: 10px;
  width: 300px;
  border-radius: 50%;
}

.team-container .quote-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  color: white;
}

/* ===============================================
About us
================================================== */

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 50px auto;
}

.about-us p {
  margin: 10px;
}


/* ===============================================
Our philopsphy
================================================= */

.philosophy-container {
  max-width: 1000px;
  margin: 50px auto;;
}

.philosophy-container p {
  margin: 30px 40px;
}

/* ===============================================
Contact us
================================================= */

.contact-us {
  display: flex;
  width: 95%;
  max-width: 1000px;
  margin: 30px auto;
  align-items: flex-start;
  justify-content: center;
}

.contact-us .subtitle {
  text-align: center;
  margin: 20px;
  font-size: x-large;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

.contact-info li {
  list-style-type: none;
  margin: 10px;
}

.form {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 10px auto;
  padding: 20px;
  justify-content: center;
  max-width: 600px;
}

form div {
  margin: 5px; 
}

[type=submit] {
  padding: 10px; 
  border: 1px solid var(--dark-primary);
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
  color: var(--light-primary);
  background-color: var(--accent);
  width: 50%;
  align-self: center;
  box-shadow: 1px 1px 5px var(--accent);
}

[type=text], [type=email] {
  font-size: 16px;
  padding: 3px 10px;
}

.vspacer {
  height: 20px;
}

/* ===============================================
*  Footer 
================================================== */

footer {
  background-color: var(--dark-primary);;
  color: var(--light-primary);;
  text-align: center;
  padding: 15px;
}


/* ===============================================
Media Queries
================================================== */

@media (min-width: 681px)  {
  header nav ul {
    flex-direction: row;
  }
}

@media (max-width: 680px) {
  
  body {
    font-size: 20px;
  }
  header {
    flex-direction: column;
    display: flex;
  }
  
  header nav ul {
    display: none;
    flex-direction: column;
  }
  
  header a button {
    display: none;
  }
  
  .menu {
    display: block;
    font-size: 28px;
  }
  
  .responsive {
    display: flex;
  }
  
  .hero h1 {
    font-size: 32px;
  }
  
  .features-container {
    flex-direction: column;
  }
  
  .feature {
    border: none;
    width: 90%;
    align-self: center;
  }
  
  .testimonial-container img {
    width: 150px;
  }
  
  .team-member {
    flex-direction: column;
  }
  
  form {
    width: 95%;
  }
  
  .contact-us {
    flex-direction: column;
    align-items: center;
  }
}


