:root {
  --background-color: #e7e3d4;
  --text-color: black;
  --header-text-color: white;
  --header-background-color: #a72608;
  --button-text-color: white;
  --button-background-color: #34656d;
  --card-background-color: white;
  --accent: #3f84e5;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0px;
  font-size: 18px;
}

a {
  color: var(--accent);
}

/* =====================================
  Header Container
======================================*/

header {
  text-align: center;
  background-color: var(--header-background-color);
  padding: 0px;
  margin: 0px;
  width:100%;
  color: var(--header-text-color);
}

header h1 {
  margin: 0px;
  padding: 20px;
}

/*=======================================
  Main Container and section
=======================================*/

.main-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

main {
  flex: 1 1 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  order: 2;
}

main > * {
  flex-basis: 100%;
}

/*====================================
  Card container, layout, and style
====================================*/

.card {
  flex: 1 1 280px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 5px gray;
  background-color: var(--card-background-color);
  max-width: 450px;
}

.card:hover {
  box-shadow: 3px 3px 10px black;
}

.card img {
  width: 100%;
}

.card .text-container {
  padding: 10px;
  text-align: center;
  height: auto;
}

.card h3, p {
  margin: 5px;
  padding: 0px;
}

/*==================================
  Aside container 
==================================*/

aside {
  flex: 1 1 25%;
  min-width: 200px;
  order: 1;
}


.button {
  display: block;
  margin: 10px auto;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px;
  border-radius: .5em;
  box-shadow: 1px 1px 1px gray;
  background-color: var(--accent);
  color: var(--button-text-color);
}

@media (max-width: 580px) {
  body {
    font-size: 26px;
  }
}

.button:hover {
  box-shadow: 1px 1px 5px black;
}
