* {
  box-sizing: border-box;
}

:root {
  --clr-dark-background: #555555;
  --clr-light-background: white;
  --clr-light-text: white;
  --clr-dark-text: black;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  color: black;
  font-family: sans-serif;
  line-height: 1.2;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 10px;
  margin: 0px;
}



h1 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: var(--clr-dark-text);
}

ul {
  list-style-type: none;
}

/*===================================== 
  Parent Grid 
=====================================*/

.parent-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px 100px auto 80px;
  grid-template-areas: 
    "header header header header header header"
    "search search search search search search"
    "main main main main aside aside"
    "footer footer footer footer footer footer";
  background-color: var(--clr-light-background);
}

/*=======================================
  Header
=======================================*/

.header {
  grid-area: header;
  background-color: #333333;
  width: 100%;
  margin: 0px;
  padding:5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo {
  height: 100%;
  text-align: center;
}

.header .logo img {
  height: 100%;
}


/*=======================================
  Search
=======================================*/

.search {
  grid-area: search;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--clr-light-background);
  margin: 0px 10px;
}

.search h1 {
  flex: 60%;
}

.search .search-bar {
  flex: 30%;
  border: 1px solid gray;
  margin-right: 10px;
  background-color: white;
}

.search .search-bar input {
  padding: 5px;
  font-size: 18px;
  border: none;
  margin: 0px;
  width: 87%;
}

.search .search-bar button {
  font-size: 18px;
  padding: 5px;
  background-color: white;
  border: none;
  width: 10%;
  cursor: pointer;
}

/*=======================================
  Content
=======================================*/

.main {
  grid-area: main;
  margin: 0px 10px;
/*   border-right: 1px solid black; */
  background-color: var(--clr-light-background);
}

.article {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px auto;
  grid-template-areas: 
    "img title"
    "img content";
  grid-gap: 10px;
  padding: 10px;
  padding-bottom: 30px;
  margin: 20px 0px;
  border-bottom: 1px solid black;
/*   box-shadow: 0px 0px 10px black; */
  background-color: white;
  color: var(--clr-dark-text);
  overflow: hidden;
}

.article:last-child {
  border-bottom: none;
}

.article .image {
  grid: img;
}

.article img {
  width: 100%;
}

.article .article-title {
  grid-area: title;
}

.article .article-content {
  grid-area: content;
}

/*=======================================
  Read More/Less
=======================================*/

#more-1 {
  display: none;
}

#more-2 {
  display: none;
}

#more-3 {
  display: none;
}

.btn {
  background-color: var(--clr-dark-background);
  color: var(--clr-light-text);
  border: 1px solid black;
  padding: 10px;
  margin: 0px 10px;
}


/*=======================================
  Aside
=======================================*/

.aside {
  grid-area: aside;
  background-color: var(--clr-dark-background);
  color: var(--clr-light-text);
  padding: 10px;
  margin: 30px 20px 30px 0px;
}


/*=======================================
  Footer
=======================================*/

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: white;
}


@media (max-width: 1200px) {
  
  .parent-grid {
    grid-template-rows: 100px 100px auto 80px;
    grid-template-areas: 
      "header header header header header header"
      "search search search search search search"
      "main main main aside aside aside"
      "footer footer footer footer footer footer";
    
  }
  .article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "img"
      "title"
      "content";
  }
  
  .article .article-title {
    text-align: center;
  }
}

@media (max-width: 740px) {
  .parent-grid {
      grid-template-columns: 1fr;
      grid-template-rows: 100px 100px auto auto 80px;
      grid-template-areas: 
        "header"
        "search"
        "aside"
        "main"
        "footer";
  }
  
  .logo img {
    width: 180px;
  }
  
  .search {
    flex-direction: column;
    margin-top: 10px;
  }
  
  .aside {
    margin: 10px;
  }
}



